@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where(.dark, .dark *,[data-theme=dark], [data-theme=dark] *));

button:not(:disabled) {
  @apply cursor-pointer;
}

.admin .input,
.admin .select,
.admin .textarea {
  @apply outline-none focus:outline-none;
}

.admin {
  --color-primary: rgb(0, 90, 246);
}

@theme {
  --spacing-4.5: 1.125rem /* 18px */;
  --container-margin: auto;
}

@utility container {
  @apply mx-auto px-3 md:px-14;
}

@theme inline {
  --font-poppins-sans: var(--font-poppins-sans);
  --font-brand: var(--font-allogist);
  --font-inter-sans: var(--font-inter-sans);
}

/* .website {
  --font-sans: var(--font-poppins-sans);
  --font-brand: var(--font-allogist);
} */

/* @theme inline .admin {
  --font-sans: var(--font-inter-sans);
} */
/* 
.admin {
  --font-sans: var(--font-inter-sans);
} */

/* website */
@theme inline {
  /* color */
  --color-web-primary: #25361e;
  --color-web-secondary-1: #ecc94b;
  --color-web-secondary-2: #feeb79;
  --color-web-secondary-3: #6b0000;
  --color-web-background-1: #ffffff;
  --color-web-background-2: #f5f5f5;
  --color-web-background-3: #f8f4ec;
  --color-web-content-1: #1a1a1a;
  --color-web-content-2: #444444;
  --color-web-content-3: #afafaf;
  --color-web-success: #38a169;
  --color-web-error: #e53e3e;
  --color-web-warning: #ecc94b;

  /* font size */

  /* h1 */
  /* desktop */
  --text-web-h1: 48px;
  --text-web-h1--font-weight: 700;
  --text-web-h1--line-height: 120%;
  --text-web-h1--line-letter-spacing: -1px;

  /* mobile */
  --text-web-h1-mobile: 32px;
  --text-web-h1-mobile--font-weight: 700;
  --text-web-h1-mobile--line-height: 120%;
  --text-web-h1-mobile--line-letter-spacing: -1px;

  /* h2 */
  /* desktop */
  --text-web-h2: 32px;
  --text-web-h2--font-weight: 600;
  --text-web-h2--line-height: 125%;
  --text-web-h2--line-letter-spacing: -1px;

  /* mobile */
  --text-web-h2-mobile: 24px;
  --text-web-h2-mobile--font-weight: 600;
  --text-web-h2-mobile--line-height: 125%;
  --text-web-h2-mobile--line-letter-spacing: -1px;

  /* h3 */
  /* desktop */
  --text-web-h3: 24px;
  --text-web-h3--font-weight: 500;
  --text-web-h3--line-height: 130%;
  --text-web-h3--line-letter-spacing: -1px;

  /* mobile */
  --text-web-h3-mobile: 20px;
  --text-web-h3-mobile--font-weight: 500;
  --text-web-h3-mobile--line-height: 130%;
  --text-web-h3-mobile--line-letter-spacing: -1px;

  /* h4 */
  /* desktop */
  --text-web-h4: 20px;
  --text-web-h4--font-weight: 600;
  --text-web-h4--line-height: 140%;
  --text-web-h4--line-letter-spacing: -1px;

  /* mobile */
  --text-web-h4-mobile: 18px;
  --text-web-h4-mobile--font-weight: 600;
  --text-web-h4-mobile--line-height: 140%;
  --text-web-h4-mobile--line-letter-spacing: -1px;

  /* subtitle */
  /* desktop */
  --text-web-subtitle: 18px;
  --text-web-subtitle--font-weight: 400;
  --text-web-subtitle--line-height: 150%;
  --text-web-subtitle--line-letter-spacing: 0px;

  /* mobile */
  --text-web-subtitle-mobile: 16px;
  --text-web-subtitle-mobile--font-weight: 400;
  --text-web-subtitle-mobile--line-height: 150%;
  --text-web-subtitle-mobile--line-letter-spacing: 0px;

  /* body */
  /* desktop */
  --text-web-body: 16px;
  --text-web-body--font-weight: 400;
  --text-web-body--line-height: 120%;
  --text-web-body--line-letter-spacing: 0px;

  /* mobile */
  --text-web-body-mobile: 16px;
  --text-web-body-mobile--font-weight: 400;
  --text-web-body-mobile--line-height: 120%;
  --text-web-body-mobile--line-letter-spacing: 0px;

  /* caption */
  /* desktop */
  --text-web-caption: 14px;
  --text-web-caption--font-weight: 400;
  --text-web-caption--line-height: 160%;
  --text-web-caption--line-letter-spacing: 0px;

  /* mobile */
  --text-web-caption-mobile: 14px;
  --text-web-caption-mobile--font-weight: 400;
  --text-web-caption-mobile--line-height: 160%;
  --text-web-caption-mobile--line-letter-spacing: 0px;

  /* button */
  /* desktop */
  --text-web-button: 16px;
  --text-web-button--font-weight: 700;
  --text-web-button--line-height: 100%;
  --text-web-button--line-letter-spacing: 0px;

  /* mobile */
  --text-web-button-mobile: 14px;
  --text-web-button-mobile--font-weight: 700;
  --text-web-button-mobile--line-height: 100%;
  --text-web-button-mobile--line-letter-spacing: 0px;

  /* label */
  /* desktop */
  --text-web-label: 14px;
  --text-web-label--font-weight: 400;
  --text-web-label--line-height: 100%;
  --text-web-label--line-letter-spacing: 0px;

  /* mobile */
  --text-web-label-mobile: 14px;
  --text-web-label-mobile--font-weight: 400;
  --text-web-label-mobile--line-height: 100%;
  --text-web-label-mobile--line-letter-spacing: 0px;
}

@utility button-primary {
  @apply bg-red-400;
}

.my-slider {
  @apply pb-8;
  .swiper-wrapper {
    @apply pb-10;
  }

  .swiper-pagination {
    .swiper-pagination-bullet {
      @apply bg-web-content-2 opacity-100 duration-200;
      /* background: var(); */
      &.swiper-pagination-bullet-active {
        @apply bg-web-secondary-1;
      }
    }
  }
}

@utility section-subtitle {
  @apply text-web-secondary-3 text-web-subtitle-mobile uppercase lg:text-web-subtitle;
}

@utility section-title {
  @apply text-web-h2-mobile lg:text-web-h2 capitalize;
}

@utility web-input {
  @apply w-full border border-web-content-3 px-4 py-4.5 rounded focus:outline-web-primary focus-visible:outline-web-primary;
  @apply text-web-content-1 text-web-caption-mobile  lg:text-web-caption placeholder:text-web-content-3 text-base;
}

@utility web-input-error {
  @apply border-web-error focus:outline-web-error focus-visible:outline-web-error;
}

@utility reservation-card-shadow {
  box-shadow: 0px 138px 55px 0px rgba(0, 0, 0, 0.01),
    0px 78px 47px 0px rgba(0, 0, 0, 0.04), 0px 35px 35px 0px rgba(0, 0, 0, 0.06),
    0px 9px 19px 0px rgba(0, 0, 0, 0.07);
}

@utility web-reservation-label {
  @apply text-web-label-mobile lg:text-web-label text-web-content-1 mb-2.5;
}

:root {
  interpolate-size: allow-keywords;
}

details {
  @apply overflow-hidden;
}

details::details-content {
  block-size: 0;
  transition: block-size 0.2s, content-visibility 0.2s;
  transition-behavior: allow-discrete;
}

details[open]::details-content {
  block-size: auto;
}

.badge {
  @apply w-max;
}

.image-thumbs-swiper .swiper-slide {
  @apply border-2 border-transparent rounded-xs;
}

.image-thumbs-swiper .swiper-slide.swiper-slide-thumb-active {
  @apply border-2 border-web-secondary-1;
}
